<h1 id="vim-cheatsheet">VIM CHEATSHEET</h1>
<hr />
<h2 id="general">GENERAL</h2>
<hr />
<hr />
<h3 id="cursor-movement">CURSOR MOVEMENT</h3>
<hr />
<pre><code>h move left
j move down
k move up
l move right
w jump by start of words (punctuation considered words)
W jump by words (spaces separate words)
e jump to end of words (punctuation considered words)
E jump to end of words (no punctuation)
b jump backward by words (punctuation considered words)
B jump backward by words (no punctuation)
ge jump backward to end of words
0 (zero) start of line
^ first non-blank character of line
$ end of line
- move line upwards, on the first non blank character
+ move line downwards, on the first non blank character
&lt;enter&gt; move line downwards, on the first non blank character
gg go to first line
G go to last line
nG go To line n
:n go To line n
) move the cursor forward to the next sentence.
( move the cursor backward by a sentence.
{ move the cursor a paragraph backwards
} move the cursor a paragraph forwards
]] move the cursor a section forwards or to the next {
[[ move the cursor a section backwards or the previous {
CTRL-f move the cursor forward by a screen of text
CTRL-b move the cursor backward by a screen of text
CTRL-u move the cursor up by half a screen
CTRL-d move the cursor down by half a screen
H move the cursor to the top of the screen.
M move the cursor to the middle of the screen.
L move the cursor to the bottom of the screen.
fx search line forward for &#39;x&#39;
Fx search line backward for &#39;x&#39;
tx search line forward before &#39;x&#39;
Tx search line backward before &#39;x&#39; </code></pre>
<hr />
<h3 id="bookmarks">BOOKMARKS</h3>
<hr />
<pre><code>:marks list all the current marks
ma make a bookmark named a at the current cursor position
`a go to position of bookmark a
&#39;a go to the line with bookmark a
`. go to the line that you last edited</code></pre>
<hr />
<h3 id="insert-mode">INSERT MODE</h3>
<hr />
<pre><code>i start insert mode at cursor
I insert at the beginning of the line
a append after the cursor
A append at the end of the line
o open (append) blank line below current line
O open blank line above current line
Esc exit insert mode</code></pre>
<hr />
<h3 id="editing">EDITING</h3>
<hr />
<pre><code>r replace a single character (does not use insert mode)
R enter Insert mode, replacing characters rather than inserting
J join line below to the current one
cc change (replace) an entire line
cw change (replace) to the end of word
c$ change (replace) to the end of line
s delete character at cursor and substitute text
S delete line at cursor and substitute text (same as cc)
xp transpose two letters (delete and paste, technically)
u undo
CTRL-r redo
. repeat last command
~ switch case
g~iw switch case of current word
gUiw make current word uppercase
guiw make current word lowercase
gU$ make uppercase until end of line
gu$ make lowercase until end of line
&gt;&gt; indent line one column to right
&lt;&lt; indent line one column to left
== auto-indent current line
ddp swap current line with next
ddkp swap current line with previous
:%retab fix spaces / tabs issues in whole file
:r [name] insert the file [name] below the cursor.
:r !{cmd} execute {cmd} and insert its standard output below the cursor.</code></pre>
<hr />
<h3 id="deleting-text">DELETING TEXT</h3>
<hr />
<pre><code>x delete current character
X delete previous character
dw delete the current word
dd delete (cut) a line
D delete from cursor to end of line
:[range]d delete [range] lines</code></pre>
<hr />
<h3 id="copying-and-moving-text">COPYING AND MOVING TEXT</h3>
<hr />
<pre><code>yw yank word
yy yank (copy) a line
2yy yank 2 lines
y$ yank to end of line
p put (paste) the clipboard after cursor/current line
P put (paste) before cursor/current line
:set paste avoid unexpected effects in pasting

:registers display the contents of all registers
&quot;xyw yank word into register x
&quot;xyy yank line into register x
:[range]y x yank [range] lines into register x
&quot;xp put the text from register x after the cursor
&quot;xP put the text from register x before the cursor
&quot;xgp just like &quot;p&quot;, but leave the cursor just after the new text
&quot;xgP just like &quot;P&quot;, but leave the cursor just after the new text
:[line]put x put the text from register x after [line]</code></pre>
<hr />
<h3 id="macros">MACROS</h3>
<hr />
<pre><code>qa start recording macro &#39;a&#39;
q end recording macro
@a replay macro &#39;a&#39;
@: replay last command</code></pre>
<hr />
<h3 id="visual-mode">VISUAL MODE</h3>
<hr />
<pre><code>v start visual mode, mark lines, then do command (such as y-yank)
V start linewise visual mode
o move to other end of marked area
U upper case of marked area
CTRL-v start visual block mode
O move to other corner of block
aw mark a word
ab a () block (with braces)
ab a {} block (with brackets)
ib inner () block
ib inner {} block
Esc exit visual mode</code></pre>
<hr />
<h3 id="visual-mode-commands">Visual mode commands</h3>
<hr />
<pre><code>&gt; shift right
&lt; shift left
c change (replace) marked text
y yank (copy) marked text
d delete marked text
~ switch case</code></pre>
<hr />
<h3 id="spelling">SPELLING</h3>
<hr />
<pre><code>]s next misspelled word
[s previous misspelled word
zg add word to wordlist
zug undo last add word
z= suggest word</code></pre>
<hr />
<p>EXITING ******</p>
<pre><code>:q quit Vim. This fails when changes have been made.
:q! quit without writing.
:cq quit always, without writing.
:wq write the current file and exit.
:wq! write the current file and exit always.
:wq {file} write to {file}. Exit if not editing the last
:wq! {file} write to {file} and exit always.
:[range]wq[!] same as above, but only write the lines in [range].
ZZ write current file, if modified, and exit.
ZQ quit current file and exit (same as &quot;:q!&quot;).</code></pre>
<hr />
<p>SEARCH/REPLACE ******</p>
<pre><code>/pattern search for pattern
?pattern search backward for pattern
n repeat search in same direction
N repeat search in opposite direction
* search forward, word under cursor
# search backward, word under cursor
:%s/old/new/g replace all old with new throughout file
:%s/old/new/gc replace all old with new throughout file with confirmation
:argdo %s/old/new/gc | wq open multiple files and run this command to replace old
                        with new in every file with confirmation, save and quit</code></pre>
<hr />
<h3 id="multiple-files">MULTIPLE FILES</h3>
<hr />
<pre><code>:e filename edit a file in a new buffer
:tabe filename edit a file in a new tab (Vim7, gVim)
:ls list all buffers
:bn go to next buffer
:bp go to previous buffer
:bd delete a buffer (close a file)
:b1 show buffer 1
:b vimrc show buffer whose filename begins with &quot;vimrc&quot;</code></pre>
<hr />
<h3 id="windows">WINDOWS</h3>
<hr />
<pre><code>:sp f split open f
:vsp f vsplit open f
CTRL-w s split windows
CTRL-w w switch between windows
CTRL-w q quit a window
CTRL-w v split windows vertically
CTRL-w x swap windows
CTRL-w h left window
CTRL-w j down window
CTRL-w k up window
CTRL-w l right window
CTRL-w + larger window
CTRL-w - smaller window
CTRL-w = equal window
CTRL-w o close other windows</code></pre>
<hr />
<h3 id="quickfix-window">QUICKFIX WINDOW</h3>
<hr />
<pre><code>copen open quickfix window
cclose close quickfix window
cc [nr] display error [nr]
cfirst display the first error
clast display the last error
[count]cn display [count] next error
[count]cp display [count] previous error</code></pre>
<hr />
<h3 id="programming">PROGRAMMING</h3>
<hr />
<pre><code>% show matching brace, bracket, or parenthese
gf edit the file whose name is under or after the cursor
gd when the cursor is on a local variable or function, jump to its declaration
&#39;&#39; return to the line where the cursor was before the latest jump
gi return to insert mode where you inserted text the last time
CTRL-o move to previous position you were at
CTRL-i move to more recent position you were at</code></pre>
<hr />
<h1 id="plugins">PLUGINS *</h1>
<hr />
<h2 id="basic">BASIC</h2>
<hr />
<h3 id="tpopevim-sensible-set-of-defaults....">'tpope/vim-sensible': set of defaults....</h3>
<h3 id="tpopevim-surround-all-about-surroundings-paranthesis-bracket-quotes-tags...">'tpope/vim-surround': all about surroundings= paranthesis, bracket, quotes, tags...</h3>
<pre><code>cs &lt;prev surr&gt; &lt;desired surr&gt; to Change Surrounding
e.g. from &quot;Hello&quot; to &#39;Hello&#39; press cs&quot;&#39; from inside Hello word
ds &lt;surr&gt; to Delete Surrounding &lt;surr&gt;
e.g. from &quot;Hello&quot; to Hello press ds&quot;
ysiw &lt;surr&gt; to Surround Inner Word with &lt;surr&gt;
yss &lt;surr&gt; to Surround line</code></pre>
<h3 id="tomtomtcomment_vim-toggles-comments">'tomtom/tcomment_vim': toggles comments</h3>
<pre><code>Visual mode:
    gc toggle comments
Normal mode:
    gcc toggle comment for current line
    gc&lt;motion&gt; toggle comments </code></pre>
<h3 id="tpopevim-fugitive-git-integration">tpope/VIM-FUGITIVE (git integration)</h3>
<pre><code>:Git run a git command
:Gstatus git status : - to (un)stage , p to patch, C to commit
:Gcommit git commit
:Gread empty the buffer and revert to the last commit
:Gwrite write the current file and stage the results
:Gmove git mv
:Gremove git rm
:Glog git log
:Gdiff perform a vimdiff against the current file of a certain revision
:Gblame open blame information in a scroll bound vertical splitt
:Gbrowse open github</code></pre>
<h3 id="blingvim-airline">bling/VIM-AIRLINE</h3>
<h3 id="scroolosesyntastic-syntax-checker-for-various-languages">scroolose/SYNTASTIC: syntax checker for various languages</h3>
<h3 id="ack-plugin">ACK (plugin)</h3>
<pre><code>:Ack Search recursively in directory
o to open (same as enter)
go to preview file (open but maintain focus on ack.vim results)
t to open in new tab
T to open in new tab silently
q to close the quickfix window</code></pre>
<h1 id="cheat-plugin">CHEAT (plugin)</h1>
<pre><code>:Cheat open cheat sheet (with autocomplete)
&lt;leader&gt;ch open cheat sheet for word under the cursor</code></pre>
<h1 id="gist-plugin">GIST (plugin)</h1>
<p>:Gist post whole text to gist :Gist XXXXX get gist XXXXX :Gist -l list my gists</p>
<h1 id="gundo-plugin">GUNDO (plugin)</h1>
<p>:GundoToggle show undo tree</p>
<h1 id="lustyjuggler-plugin">LUSTYJUGGLER (plugin)</h1>
<p><Leader>lj show open buffers</p>
<h1 id="nerdcommenter-plugin">NERDCOMMENTER (plugin)</h1>
<p><leader>cc comment out line(s) <leader>c<space> toggle the comment state of the selected line(s)</p>
<h1 id="nerdtree-plugin">NERDTREE (plugin)</h1>
<table>
<caption>NERDTreeToggle show / hide file browser :NERDTreeFind show current file in file browser :Bookmark name bookmark the current node as &quot;name&quot;</caption>
<thead>
<tr class="header">
<th align="left">File</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">o open in prev window</td>
</tr>
<tr class="even">
<td align="left">go preview</td>
</tr>
<tr class="odd">
<td align="left">t open in new tab</td>
</tr>
<tr class="even">
<td align="left">T open in new tab silently</td>
</tr>
<tr class="odd">
<td align="left">i open split</td>
</tr>
<tr class="even">
<td align="left">gi preview split</td>
</tr>
<tr class="odd">
<td align="left">s open vsplit</td>
</tr>
<tr class="even">
<td align="left">gs preview vsplit</td>
</tr>
</tbody>
</table>
<h2 id="directory">Directory</h2>
<p>o open &amp; close node O recursively open node x close parent of node X close all child nodes of current node recursively e explore selected dir</p>
<h2 id="bookmark">Bookmark</h2>
<p>o open bookmark t open in new tab T open in new tab silently D delete bookmark</p>
<h2 id="tree-navigation">Tree navigation</h2>
<p>P go to root p go to parent K go to first child J go to last child CTRL-j go to next sibling CTRL-k go to prev sibling</p>
<h2 id="filesystem">Filesystem</h2>
<p>C change tree root to the selected dir u move tree root up a dir U move tree root up a dir but leave old root open r refresh cursor dir R refresh current root m show menu cd change the CWD to the selected dir</p>
<h2 id="tree-filtering">Tree filtering</h2>
<p>I hidden files f file filters F files B bookmarks</p>
<h2 id="other">Other</h2>
<p>q close the NERDTree window A zoom (maximize-minimize) the NERDTree window ? toggle help</p>
<h1 id="pdv-plugin">PDV (plugin)</h1>
<p>CTRL-P generate PHP DOC</p>
<h1 id="pickacolor-plugin">PICKACOLOR (plugin)</h1>
<p>:PickHEX choose color in system color picker</p>
<h1 id="snipmate-plugin">SNIPMATE (plugin)</h1>
<p><tab> expand snippet</p>
<h1 id="sparkup-plugin">SPARKUP (plugin)</h1>
<p>CTRL-e execute sparkup (zen coding expansion) CTRL-n jump to the next empty tag / attribute</p>
<h1 id="surround-plugin">SURROUND (plugin)</h1>
<p>cs'&quot; change surrounding quotes to double-quotes cs(} change surrounding parens to braces cs({ change surrounding parens to braces with space ds' delete surrounding quotes dst delete surrounding tags ysiw[ surround inner word with brackets vees' surround 2 words (ee) with quotes '</p>
<h1 id="tabular-plugin">TABULAR (plugin)</h1>
<p>:Tabularize /, line the selected lines up on the commas</p>
<h1 id="taglist-plugin">TAGLIST (plugin)</h1>
<p>:TlistToggle open / close taglist window <enter> jump to tag or file <space> display the tag prototype</p>
<h1 id="unimpaired-plugin">UNIMPAIRED (plugin)</h1>
<p>[space new line above ]space new line below [e exchange line above ]e exchange line below [x XML encode ]x XML decode (with htmlentities) [q jump to previous quickfix item ]q jump to next quickfix item [Q jump to first quickfix item ]Q jump to last quickfix item</p>
<h1 id="vim-markdown-preview-plugin">VIM-MARKDOWN-PREVIEW (plugin)</h1>
<p>:Mm preview markdown document in webbrowser</p>
<h1 id="vim-peepopen-plugin">VIM-PEEPOPEN (plugin)</h1>
<p><Leader>p open the current directory with the peepopen application (fuzzy search)</p>
<h1 id="vim-symfony-plugin">VIM-SYMFONY (plugin)</h1>
<p>:Sview open template file :Saction open action file :Smodel open model file :Sfilter open filter file :Sform open form file :Spartial open partial file / write selected content in partial + include :Scomponent open component file / write selected content in component + include :Salternate open alternate model file (class - table class) :Symfony execute task</p>
<hr />
<ul>
<li>PERSONAL .VIMRC * *********************</li>
</ul>
<p><leader>ev edit vimrc file <leader>sv reload vimrc file <leader>sh show syntax highlighting groups for word under cursor</p>
<p><space> page down jj exit insertion mode <leader>q close the current window</p>
<p><leader>/ clear the search register</p>
<p><leader>h toggle hidden characters</p>
<p><leader>W strip all trailing whitespace</p>
<p>CTRL-h go to left window CTRL-j go to down window CTRL-k go to top window CTRL-l go to right window <leader>w open vertical split window and activate</p>
<p>%% will expand to current directory <leader>ew open file from current directory <leader>es open file in split window from current directory <leader>cd change directory to parent dir of current file ## will expand to webroot</p>
<p>:Wrap wrap text <F2> toggle wrapped text</p>
<p><F3> toggle spell check</p>
<p><F4> toggle light/dark background</p>
<p><F5> underline with dashes <F6> underline with double lines</p>
<p><leader><up> bubble line(s) up <leader><down> bublle line(s) down</p>
<p>:Ltag load tags file :Project cd to project and load tags file <leader>t show current tag for word under cursor <leader>st show current tag for word under cursor in split window <leader>tj show current tag list for word under cursor <leader>stj show current tag list for word under cursor in split window</p>
<p>CTRL-<space> show omnicomplete menu</p>
<p><leader>b surround with strong tags <leader>i surround with em tags</p>
<p>CTRL-p generate PHP DOC</p>
<p><leader>a run Ack</p>
<p><leader>md preview markdown</p>
<p><leader>s preview in safari</p>
<p><leader>x colorpicker</p>
<p><leader>n toggle Nerdtree <leader>N close Nerdtree <leader>f find current file in Nerdtree</p>
<p><leader>l toggle Taglist <leader>L close Taglist</p>
<p><leader>ph set filetype to php.html <leader>r reload all snipmate snippets</p>
<p>CTRL-<tab> switch between buffers</p>
<p>CTRL-y go to next tag of attribute in sparkup plugin</p>
<p><leader>g toggle Gundo window</p>
<p>IMG<CR> show image browser to insert image tag with src, width and height b insert image tag with dimensions from NERDTree (http://stackoverflow.com/questions/5707925/vim-image-placement)</p>
<h2 id="credits">CREDITS</h2>
<p>this cheat sheet is based upon :</p>
<ul>
<li>http://www.keyxl.com/aaa8263/290/VIM-keyboard-shortcuts.htm</li>
<li>http://jmcpherson.org/editing.html</li>
<li>http://cheat.errtheblog.com/s/vim/</li>
<li>http://cheat.errtheblog.com/s/vim_anders/</li>
<li>http://www.fprintf.net/vimCheatSheet.html</li>
</ul>
<p>a collection of commands / shortcuts for vim. this file contains general shortcuts and personal shortcuts defined by plugins and my vimrc file. https://bitbucket.org/sarosh/dotfiles/vimrc</p>
<p>its based on https://github.com/groenewege/vimrc/blob/master/vim_cheat_sheet.txt</p>
